body {
    font-family:'Calibri', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.4;
}

p {
    padding: 5px;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    padding: 5px;
    display: list-item;
}

ul :nth-child(odd) {
    background-color: darkorange;
}

header, footer {
    background-color: orangered;
    padding: 5px
}

header {
    font-size: 40px;
    line-height: 2.4;
}

.site-title {
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

h2 {
    font-size: 28px;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
    padding: 5px
}

a:link {
    text-decoration: none;
    background-color: orange;
    border: 1px;
    color: purple;
    padding: 5px
}

a:hover {
    background-color: yellow;
}

a:focus {
    background-color: orangered
}

